<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Match</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Match</h1>

  <h1>[[${loginUser}]] V.S. [[${opponent}]]</h1>

  <p>
    <a th:href="@{/fight(id=${opponentId}, hand='Gu')}">ぐー</a>
    <a th:href="@{/fight(id=${opponentId}, hand='Choki')}">ちょき</a>
    <a th:href="@{/fight(id=${opponentId}, hand='Pa')}">ぱー</a>
  </p>

  <div th:if="${result != null}">
    <p>あなたの手 [[${myHand}]]</p>
    <p>相手の手 [[${cpuHand}]]</p>
    <p>結果 [[${result}]]</p>
  </div>

  <a href="/janken">もどる</a>
</body>

</html>
